In [61]:
import pandas as pd
import ast

In [66]:
geneVsDrug = pd.read_excel("GeneVsDrug.xlsx")
data = pd.read_excel("Updated_GeneClusters_With_Match_Counts.xlsx",sheet_name="Sheet3")

In [68]:
data.head()

,No,List_gene,Len,a,b,c,d,Proportion,Fold
0,163,"[P24385, P31749, P05412, P27361, O14920, Q16881]",6,6,0,833,1485,100.0,2.769964
1,230,"[P09488, P09210, P08263, P09211]",4,4,0,835,1485,100.0,2.769964
2,236,"[P47871, P43220, O95838]",3,3,0,836,1485,100.0,2.769964
3,278,"[P01375, P05231, P01584]",3,3,0,836,1485,100.0,2.769964
4,279,"[P31639, P13866, P06133]",3,3,0,836,1485,100.0,2.769964

In [69]:
gene_list = data["List_gene"]

In [74]:
# Misalkan gene_list adalah daftar string dengan format '[gene1, gene2, ...]'
# Contoh: gene_list = ['[geneA, geneB]', '[geneC, geneD]']

# Tempat untuk menyimpan hasil selected drugs
all_selected_drugs = []

# Loop untuk setiap gene_list
for i in range(len(gene_list)):
    gene_list_str = gene_list[i]
    # Bersihkan string dan pecah menjadi daftar
    genes = gene_list_str.strip('[]').replace(' ', '').split(',')
    print(genes)

    # Filter rows berdasarkan daftar gen
    subgraph = geneVsDrug.loc[geneVsDrug.index.isin(genes)]

    # Jumlah minimum yang dibutuhkan
    threshold = len(genes) / 2

    # Hitung jumlah pada setiap kolom
    column_sums = subgraph.sum(axis=0)

    # Filter kolom berdasarkan threshold
    selected_drugs = column_sums[column_sums >= threshold]

    # Simpan hasil untuk daftar gen ini
    all_selected_drugs.append(selected_drugs)

    # Hasil
    print("List drug above the threshold %d ******** in the cluster: %d" % (threshold, i))
    print(selected_drugs)
    print("-" * 50)

# Setelah semua iterasi, all_selected_drugs berisi hasil untuk setiap gene_list

['P24385', 'P31749', 'P05412', 'P27361', 'O14920', 'Q16881']
List drug above the threshold 3 ******** in the cluster: 0
Series([], dtype: float64)
--------------------------------------------------
['P09488', 'P09210', 'P08263', 'P09211']
List drug above the threshold 2 ******** in the cluster: 1
Series([], dtype: float64)
--------------------------------------------------
['P47871', 'P43220', 'O95838']
List drug above the threshold 1 ******** in the cluster: 2
Series([], dtype: float64)
--------------------------------------------------
['P01375', 'P05231', 'P01584']
List drug above the threshold 1 ******** in the cluster: 3
Series([], dtype: float64)
--------------------------------------------------
['P31639', 'P13866', 'P06133']
List drug above the threshold 1 ******** in the cluster: 4
Series([], dtype: float64)
--------------------------------------------------
['P08183', 'O14727', 'O95342']
List drug above the threshold 1 ******** in the cluster: 5
Series([], dtype: float64)
--------------------------------------------------
['Q02928', 'P00325', 'Q16678']
List drug above the threshold 1 ******** in the cluster: 6
Series([], dtype: float64)
--------------------------------------------------
['P39900', 'P08253', 'P03956']
List drug above the threshold 1 ******** in the cluster: 7
Series([], dtype: float64)
--------------------------------------------------
['P29466', 'P01584', 'Q13393']
List drug above the threshold 1 ******** in the cluster: 8
Series([], dtype: float64)
--------------------------------------------------
['Q14994', 'P51857', 'Q06520']
List drug above the threshold 1 ******** in the cluster: 9
Series([], dtype: float64)
--------------------------------------------------
['Q07869', 'Q03181', 'P37231']
List drug above the threshold 1 ******** in the cluster: 10
Series([], dtype: float64)
--------------------------------------------------
['P10912', 'Q02318', 'P15104']
List drug above the threshold 1 ******** in the cluster: 11
Series([], dtype: float64)
--------------------------------------------------
['P04626', 'P00533', 'P01133']
List drug above the threshold 1 ******** in the cluster: 12
Series([], dtype: float64)
--------------------------------------------------
['P02741', 'P05231', 'P22301']
List drug above the threshold 1 ******** in the cluster: 13
Series([], dtype: float64)
--------------------------------------------------
['P11511', 'P05108', 'P10275']
List drug above the threshold 1 ******** in the cluster: 14
Series([], dtype: float64)
--------------------------------------------------
['P08246', 'Q99062', 'P24158']
List drug above the threshold 1 ******** in the cluster: 15
Series([], dtype: float64)
--------------------------------------------------
['P42336', 'P48736', 'P53350']
List drug above the threshold 1 ******** in the cluster: 16
Series([], dtype: float64)
--------------------------------------------------
['P08238', 'P07900', 'P14625']
List drug above the threshold 1 ******** in the cluster: 17
Series([], dtype: float64)
--------------------------------------------------
['P28161', 'P00390', 'P09488']
List drug above the threshold 1 ******** in the cluster: 18
Series([], dtype: float64)
--------------------------------------------------
['P06744', 'P19367', 'Q16877']
List drug above the threshold 1 ******** in the cluster: 19
Series([], dtype: float64)
--------------------------------------------------
['P14550', 'Q02928', 'P16435']
List drug above the threshold 1 ******** in the cluster: 20
Series([], dtype: float64)
--------------------------------------------------
['P04798', 'Q16678', 'O75469']
List drug above the threshold 1 ******** in the cluster: 21
Series([], dtype: float64)
--------------------------------------------------
['Q06278', 'P47989', 'P15559']
List drug above the threshold 1 ******** in the cluster: 22
Series([], dtype: float64)
--------------------------------------------------
['P14780', 'P08253', 'P02452']
List drug above the threshold 1 ******** in the cluster: 23
Series([], dtype: float64)
--------------------------------------------------
['O00329', 'P48736', 'P42336']
List drug above the threshold 1 ******** in the cluster: 24
Series([], dtype: float64)
--------------------------------------------------
['P42574', 'P29466', 'P55210']
List drug above the threshold 1 ******** in the cluster: 25
Series([], dtype: float64)
--------------------------------------------------
['O15111', 'P09917', 'O14920']
List drug above the threshold 1 ******** in the cluster: 26
Series([], dtype: float64)
--------------------------------------------------
['P16471', 'P10912', 'Q02318']
List drug above the threshold 1 ******** in the cluster: 27
Series([], dtype: float64)
--------------------------------------------------
['Q96RI1', 'Q02318', 'P10912']
List drug above the threshold 1 ******** in the cluster: 28
Series([], dtype: float64)
--------------------------------------------------
['Q15303', 'P04626', 'P00533']
List drug above the threshold 1 ******** in the cluster: 29
Series([], dtype: float64)
--------------------------------------------------
['Q05513', 'P22310', 'P19224']
List drug above the threshold 1 ******** in the cluster: 30
Series([], dtype: float64)
--------------------------------------------------
['Q15125', 'P22310', 'Q9HAW9']
List drug above the threshold 1 ******** in the cluster: 31
Series([], dtype: float64)
--------------------------------------------------
['P27986', 'P53350', 'P42336']
List drug above the threshold 1 ******** in the cluster: 32
Series([], dtype: float64)
--------------------------------------------------
['P22303', 'P06276']
List drug above the threshold 1 ******** in the cluster: 33
Series([], dtype: float64)
--------------------------------------------------
['P20248', 'P24941']
List drug above the threshold 1 ******** in the cluster: 34
Series([], dtype: float64)
--------------------------------------------------
['P16152', 'P51788']
List drug above the threshold 1 ******** in the cluster: 35
Series([], dtype: float64)
--------------------------------------------------
['O00206', 'P16220']
List drug above the threshold 1 ******** in the cluster: 36
Series([], dtype: float64)
--------------------------------------------------
['P45452', 'P08254']
List drug above the threshold 1 ******** in the cluster: 37
Series([], dtype: float64)
--------------------------------------------------
['P13929', 'P35558']
List drug above the threshold 1 ******** in the cluster: 38
Series([], dtype: float64)
--------------------------------------------------
['Q9GZT9', 'Q16665']
List drug above the threshold 1 ******** in the cluster: 39
Series([], dtype: float64)
--------------------------------------------------
['P31751', 'P49841']
List drug above the threshold 1 ******** in the cluster: 40
Series([], dtype: float64)
--------------------------------------------------
['P09382', 'O14594']
List drug above the threshold 1 ******** in the cluster: 41
Series([], dtype: float64)
--------------------------------------------------
['P12821', 'Q9BYF1']
List drug above the threshold 1 ******** in the cluster: 42
Series([], dtype: float64)
--------------------------------------------------
['Q92887', 'P33527']
List drug above the threshold 1 ******** in the cluster: 43
Series([], dtype: float64)
--------------------------------------------------
['Q6VVX0', 'P51589']
List drug above the threshold 1 ******** in the cluster: 44
Series([], dtype: float64)
--------------------------------------------------
['P21554', 'P34972']
List drug above the threshold 1 ******** in the cluster: 45
Series([], dtype: float64)
--------------------------------------------------
['P01583', 'P18510']
List drug above the threshold 1 ******** in the cluster: 46
Series([], dtype: float64)
--------------------------------------------------
['P02795', 'P00441', 'P30711', 'P04731', 'P05164', 'P15559', 'P09211', 'P09488']
List drug above the threshold 4 ******** in the cluster: 47
Series([], dtype: float64)
--------------------------------------------------
['P16860', 'P19320', 'P17302', 'O95298', 'Q16665', 'P16581']
List drug above the threshold 3 ******** in the cluster: 48
Series([], dtype: float64)
--------------------------------------------------
['P12104', 'P07204', 'P10415', 'P13569', 'P00750', 'P06133']
List drug above the threshold 3 ******** in the cluster: 49
Series([], dtype: float64)
--------------------------------------------------
['Q07973', 'O15528', 'P11473', 'Q6VVX0', 'Q02318']
List drug above the threshold 2 ******** in the cluster: 50
Series([], dtype: float64)
--------------------------------------------------
['P14210', 'Q9Y663', 'P08758', 'P09038', 'P05230']
List drug above the threshold 2 ******** in the cluster: 51
Series([], dtype: float64)
--------------------------------------------------
['P00326', 'P00325', 'P07327', 'P04040', 'Q02928']
List drug above the threshold 2 ******** in the cluster: 52
Series([], dtype: float64)
--------------------------------------------------
['P00390', 'P00387', 'P09622', 'P16083', 'P16219']
List drug above the threshold 2 ******** in the cluster: 53
Series([], dtype: float64)
--------------------------------------------------
['P43155', 'P23786', 'Q9H015', 'Q9UKG9', 'O76082', 'O43772', 'Q8N8R3', 'P50416']
List drug above the threshold 4 ******** in the cluster: 54
Series([], dtype: float64)
--------------------------------------------------
['O60427', 'P32418', 'O95573', 'O14842', 'Q8NER1', 'O95864', 'Q9GZR5', 'O60488']
List drug above the threshold 4 ******** in the cluster: 55
Series([], dtype: float64)
--------------------------------------------------
['P08123', 'P02461', 'P02458', 'P02452']
List drug above the threshold 2 ******** in the cluster: 56
Series([], dtype: float64)
--------------------------------------------------
['P68871', 'P02794', 'P69905', 'P02792']
List drug above the threshold 2 ******** in the cluster: 57
Series([], dtype: float64)
--------------------------------------------------
['P08263', 'P01024', 'Q9BWD1', 'P02689']
List drug above the threshold 2 ******** in the cluster: 58
Series([], dtype: float64)
--------------------------------------------------
['O15111', 'P24752', 'P24557', 'O14920', 'Q9UPY5', 'Q03154', 'P48637', 'P17174', 'P43005']
List drug above the threshold 4 ******** in the cluster: 59
Series([], dtype: float64)
--------------------------------------------------
['P25311', 'Q9BZZ2', 'P05451', 'P16581', 'P11226', 'P16109']
List drug above the threshold 3 ******** in the cluster: 60
Series([], dtype: float64)
--------------------------------------------------
['Q9Y251', 'P10646', 'P16109', 'P01008', 'P01106', 'P01100']
List drug above the threshold 3 ******** in the cluster: 61
Series([], dtype: float64)
--------------------------------------------------
['Q99798', 'O75874', 'P48735']
List drug above the threshold 1 ******** in the cluster: 62
Series([], dtype: float64)
--------------------------------------------------
['P10600', 'Q9Y275', 'Q9Y6I3']
List drug above the threshold 1 ******** in the cluster: 63
Series([], dtype: float64)
--------------------------------------------------
['P29474', 'P35228', 'P29475']
List drug above the threshold 1 ******** in the cluster: 64
Series([], dtype: float64)
--------------------------------------------------
['P35080', 'P30405', 'P06241']
List drug above the threshold 1 ******** in the cluster: 65
Series([], dtype: float64)
--------------------------------------------------
['Q9UNQ0', 'Q2M3G0', 'P33527']
List drug above the threshold 1 ******** in the cluster: 66
Series([], dtype: float64)
--------------------------------------------------
['Q92843', 'Q92934', 'P10415']
List drug above the threshold 1 ******** in the cluster: 67
Series([], dtype: float64)
--------------------------------------------------
['P08697', 'P02751', 'P01023']
List drug above the threshold 1 ******** in the cluster: 68
Series([], dtype: float64)
--------------------------------------------------
['P10696', 'P05186', 'P22413']
List drug above the threshold 1 ******** in the cluster: 69
Series([], dtype: float64)
--------------------------------------------------
['P21281', 'P02818', 'P31350']
List drug above the threshold 1 ******** in the cluster: 70
Series([], dtype: float64)
--------------------------------------------------
['Q9NYX4', 'P26447', 'P22310']
List drug above the threshold 1 ******** in the cluster: 71
Series([], dtype: float64)
--------------------------------------------------
['P10635', 'P23975', 'P08913']
List drug above the threshold 1 ******** in the cluster: 72
Series([], dtype: float64)
--------------------------------------------------
['P04035', 'P00352', 'Q92506']
List drug above the threshold 1 ******** in the cluster: 73
Series([], dtype: float64)
--------------------------------------------------
['P06133', 'P22309', 'O60656']
List drug above the threshold 1 ******** in the cluster: 74
Series([], dtype: float64)
--------------------------------------------------
['P27361', 'P78362', 'P11802']
List drug above the threshold 1 ******** in the cluster: 75
Series([], dtype: float64)
--------------------------------------------------
['Q9HAW8', 'O75795', 'P22310']
List drug above the threshold 1 ******** in the cluster: 76
Series([], dtype: float64)
--------------------------------------------------
['Q08345', 'P16234', 'P07333']
List drug above the threshold 1 ******** in the cluster: 77
Series([], dtype: float64)
--------------------------------------------------
['P03372', 'P06401', 'Q92731']
List drug above the threshold 1 ******** in the cluster: 78
Series([], dtype: float64)
--------------------------------------------------
['P35503', 'P04035', 'P22310']
List drug above the threshold 1 ******** in the cluster: 79
Series([], dtype: float64)
--------------------------------------------------
['Q06609', 'P07949', 'P16234']
List drug above the threshold 1 ******** in the cluster: 80
Series([], dtype: float64)
--------------------------------------------------
['P16118', 'P05062', 'Q16877']
List drug above the threshold 1 ******** in the cluster: 81
Series([], dtype: float64)
--------------------------------------------------
['P10145', 'P17787', 'P09038']
List drug above the threshold 1 ******** in the cluster: 82
Series([], dtype: float64)
--------------------------------------------------
['P15559', 'P47989', 'Q9BQB6']
List drug above the threshold 1 ******** in the cluster: 83
Series([], dtype: float64)
--------------------------------------------------
['Q15788', 'Q07869', 'Q92731']
List drug above the threshold 1 ******** in the cluster: 84
Series([], dtype: float64)
--------------------------------------------------
['P61925', 'P17612', 'Q13464']
List drug above the threshold 1 ******** in the cluster: 85
Series([], dtype: float64)
--------------------------------------------------
['Q13133', 'P55055', 'P28702']
List drug above the threshold 1 ******** in the cluster: 86
Series([], dtype: float64)
--------------------------------------------------
['P08235', 'P06401', 'P05093']
List drug above the threshold 1 ******** in the cluster: 87
Series([], dtype: float64)
--------------------------------------------------
['O00748', 'P23141', 'Q969P6']
List drug above the threshold 1 ******** in the cluster: 88
Series([], dtype: float64)
--------------------------------------------------
['P51580', 'P01579', 'P27169']
List drug above the threshold 1 ******** in the cluster: 89
Series([], dtype: float64)
--------------------------------------------------
['O15399', 'P54687', 'Q9UPY5']
List drug above the threshold 1 ******** in the cluster: 90
Series([], dtype: float64)
--------------------------------------------------
['P30044', 'P19801', 'O14920']
List drug above the threshold 1 ******** in the cluster: 91
Series([], dtype: float64)
--------------------------------------------------
['P08686', 'Q16850', 'O43174']
List drug above the threshold 1 ******** in the cluster: 92
Series([], dtype: float64)
--------------------------------------------------
['P01023', 'P16234', 'P14735']
List drug above the threshold 1 ******** in the cluster: 93
Series([], dtype: float64)
--------------------------------------------------
['Q9UGN5', 'P09874', 'Q9Y6F1']
List drug above the threshold 1 ******** in the cluster: 94
Series([], dtype: float64)
--------------------------------------------------
['P11717', 'P20645', 'P17936']
List drug above the threshold 1 ******** in the cluster: 95
Series([], dtype: float64)
--------------------------------------------------
['P08620', 'P05230', 'P09038']
List drug above the threshold 1 ******** in the cluster: 96
Series([], dtype: float64)
--------------------------------------------------
['Q9NNW7', 'P31350', 'Q16881']
List drug above the threshold 1 ******** in the cluster: 97
Series([], dtype: float64)
--------------------------------------------------
['P11509', 'P33260', 'P20813']
List drug above the threshold 1 ******** in the cluster: 98
Series([], dtype: float64)
--------------------------------------------------
['P35354', 'P23219', 'O60656']
List drug above the threshold 1 ******** in the cluster: 99
Series([], dtype: float64)
--------------------------------------------------
['P28223', 'P10635', 'P11229']
List drug above the threshold 1 ******** in the cluster: 100
Series([], dtype: float64)
--------------------------------------------------
['Q9Y5Y4', 'P27361', 'P28482']
List drug above the threshold 1 ******** in the cluster: 101
Series([], dtype: float64)
--------------------------------------------------
['Q9NR96', 'P09210', 'P09211']
List drug above the threshold 1 ******** in the cluster: 102
Series([], dtype: float64)
--------------------------------------------------
['P14416', 'P10635', 'P23975']
List drug above the threshold 1 ******** in the cluster: 103
Series([], dtype: float64)
--------------------------------------------------
['Q15596', 'P03372', 'P06401']
List drug above the threshold 1 ******** in the cluster: 104
Series([], dtype: float64)
--------------------------------------------------
['P13674', 'Q16853', 'P24298']
List drug above the threshold 1 ******** in the cluster: 105
Series([], dtype: float64)
--------------------------------------------------
['P08581', 'P07949', 'Q06609']
List drug above the threshold 1 ******** in the cluster: 106
Series([], dtype: float64)
--------------------------------------------------
['Q96BH3', 'P02741', 'P05231']
List drug above the threshold 1 ******** in the cluster: 107
Series([], dtype: float64)
--------------------------------------------------
['P50440', 'P01133', 'P04626']
List drug above the threshold 1 ******** in the cluster: 108
Series([], dtype: float64)
--------------------------------------------------
['Q13564', 'P08183', 'P25098']
List drug above the threshold 1 ******** in the cluster: 109
Series([], dtype: float64)
--------------------------------------------------
['P31040', 'Q16134', 'P21912']
List drug above the threshold 1 ******** in the cluster: 110
Series([], dtype: float64)
--------------------------------------------------
['O14746', 'P04183', 'P19971']
List drug above the threshold 1 ******** in the cluster: 111
Series([], dtype: float64)
--------------------------------------------------
['P14210', 'P10145', 'P17787']
List drug above the threshold 1 ******** in the cluster: 112
Series([], dtype: float64)
--------------------------------------------------
['P52895', 'P04035', 'P00352']
List drug above the threshold 1 ******** in the cluster: 113
Series([], dtype: float64)
--------------------------------------------------
['P17050', 'P00325', 'P37173']
List drug above the threshold 1 ******** in the cluster: 114
Series([], dtype: float64)
--------------------------------------------------
['P14061', 'Q14994', 'P51857']
List drug above the threshold 1 ******** in the cluster: 115
Series([], dtype: float64)
--------------------------------------------------
['Q14289', 'P35869', 'O00305']

In [72]:
all_selected_drugs

[Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64),
 Series([], dtype: float64)]

In [ ]:
# Clean the gene list in cluster_gene_df
cluster_gene_df['List_gene'] = cluster_gene_df['List_gene'].apply(lambda x: eval(x) if isinstance(x, str) else x)

# Create a dictionary mapping drug to the list of genes it interacts with
drug_gene_dict = drug_gene_interaction_df.groupby('Drug')['Gene'].apply(set).to_dict()

# Function to get drugs that interact with at least 50% of the genes in the cluster
def get_drugs_for_cluster(genes):
    drugs_interacting = []
    for drug, drug_genes in drug_gene_dict.items():
        # Calculate the intersection between the drug's genes and the cluster's genes
        intersect_genes = len(set(genes).intersection(drug_genes))
        if intersect_genes >= len(genes) / 2:  # At least 50% of the genes
            drugs_interacting.append(drug)
    return drugs_interacting

# Apply the function to each cluster
cluster_gene_df['Drug_list'] = cluster_gene_df['List_gene'].apply(get_drugs_for_cluster)

# Display the result to the user
import ace_tools as tools; tools.display_dataframe_to_user(name="Cluster Drug Interactions", dataframe=cluster_gene_df)

In [103]:
# multiply matrices

data1 = pd.read_csv("Drug-Gene.csv")
data2 = pd.read_csv("Gene-Disease.csv")

In [104]:
data1

,Drug,A5X5Y0,A8MPY1,O00142,O00180,O00182,O00187,O00204,O00206,O00217,...,Q9Y697,Q9Y698,Q9Y6B6,Q9Y6I3,Q9Y6K0,Q9Y6K9,Q9Y6L6,Q9Y6L7,Q9Y6M4,Q9Y6Y9
0,DB00001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,DB00002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,DB00004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,DB00005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,DB00006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,DB09330,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4427,DB09559,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4428,DB09570,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4429,DB11362,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4430,DB11363,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
data2

,Gene,MESH:C531616,MESH:C531617,MESH:C531755,MESH:C531767,MESH:C531795,MESH:C535323,MESH:C535325,MESH:C535393,MESH:C535402,...,OMIM:168600,OMIM:188890,OMIM:253290,OMIM:267430,OMIM:605479,OMIM:610141,OMIM:612304,OMIM:613290,OMIM:613370,OMIM:613707
0,A5X5Y0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,A8MPY1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,O00142,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,O00180,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,O00182,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,Q9Y6K9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1990,Q9Y6L6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1991,Q9Y6L7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1992,Q9Y6M4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1993,Q9Y6Y9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
x1 = data1.iloc[:,1:]

In [118]:
x1

,A5X5Y0,A8MPY1,O00142,O00180,O00182,O00187,O00204,O00206,O00217,O00222,...,Q9Y697,Q9Y698,Q9Y6B6,Q9Y6I3,Q9Y6K0,Q9Y6K9,Q9Y6L6,Q9Y6L7,Q9Y6M4,Q9Y6Y9
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4428,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4429,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4430,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [125]:
x2

,MESH:C531616,MESH:C531617,MESH:C531755,MESH:C531767,MESH:C531795,MESH:C535323,MESH:C535325,MESH:C535393,MESH:C535402,MESH:C535438,...,OMIM:168600,OMIM:188890,OMIM:253290,OMIM:267430,OMIM:605479,OMIM:610141,OMIM:612304,OMIM:613290,OMIM:613370,OMIM:613707
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1991,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1992,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
result = x1 * x2

In [127]:
x1.to_csv("drug_gene.csv")
x2.to_csv("gene_diseases.csv")

In [ ]:
x1 = pd.read_csv